@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('embedded-opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('fonts/Roboto-Italic.ttf') format('embedded-opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('fonts/Roboto-Light.ttf') format('embedded-opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/Roboto-LightItalic.ttf') format('embedded-opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('fonts/Roboto-Bold.ttf') format('embedded-opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/Roboto-BoldItalic.ttf') format('embedded-opentype');
}