/*
import de fichiers css
*/
@import url('./FIGHTT3.css');
@import url('./roboto.css');
/*
dimensions les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

*/

/* déclarations root */

:root{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

/* Déclarations générales */
/* Calcul des largeurs de boîtes */
/* le caractère "*" représente n'importe quelle suite de caractères, c'est à dire tous les sélecteur CSS possible, donc tous les élément HTML de la page, même ceux qui n'existent pas encore  */

*{
    box-sizing: border-box;
}

h1, h2{
    font-family: 'FIGHTT3';
    font-weight: normal;
}

/* Déclaration des classes CSS */
.site-title{
    font-family: 'FIGHTT3';
}

.img-fluid{
    max-width: 100%;
}

/* 
En CSS, on essai d'appliquer le D.R.Y. "Don't Repeat Yourself 
Si plusieurs classe ou éléments partagent des propriétés similaire, pour le même but,
avec les mêmes valeurs de propriétés, on les regroupes.
*/

.vignette, 
.miniature{
    width: 100px;
    height: 100px;
}

.vignette{
    object-fit: cover;
}

.miniature{
    object-fit: contain;
    background-color: black;
}

/* Déclarations css de structure */
body{
    margin: 0;
}