/*
import de fichiers css
*/

/*
dimensions les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

*/

/* déclarations root */

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

/* Déclarations générales */
/* Calcul des largeurs de boîtes */
/* le caractère "*" représente n'importe quelle suite de caractères, c'est à dire tous les sélecteur CSS possible, donc tous les élément HTML de la page, même ceux qui n'existent pas encore  */

*{
    box-sizing: border-box;
}




/* Déclaration des classes CSS */
.site-title{

}

/* Déclarations css de structure */
body{
    margin: 0;
}