/*
import de fichiers css
*/
@import url('./FIGHTT3.css');
@import url('./roboto.css');
/*
dimensions les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

*/

/* déclarations root */

:root{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.7rem;
    /* il est possible de centraliser les couleurs utilisées sur le site dans le route, en exploitant des variables */
    --main-site-bg: #F2F2F2;
    --header-bg-color: #333333;
    --header-color: #F2F2F2;
    --header-link-color: #D99E30;
    --gutter: 0.5rem;
}

/* Déclarations générales */
/* Calcul des largeurs de boîtes */
/* le caractère "*" représente n'importe quelle suite de caractères, c'est à dire tous les sélecteur CSS possible, donc tous les élément HTML de la page, même ceux qui n'existent pas encore  */

*{
    box-sizing: border-box;
}
/*
tous les élément h1 et h2 de la page, sans execption, appliquent le css suivant
*/
h1, h2{
    font-family: 'FIGHTT3';
    font-weight: normal;
}

/* Déclaration des classes CSS */
/* un élément qui possède au moins la classe site-title applique les règles css suivantes */
.site-title{
    font-family: 'FIGHTT3';
    font-size: 3rem;
}
/*
si dans un élément avec la classe site-title il existe dans les descendants un élément small, cet élément small applique les règles css suivantes
*/
.site-title small{
    font-size: 1.5rem;
}

.img-fluid{
    max-width: 100%;
}

/* 
En CSS, on essai d'appliquer le D.R.Y. "Don't Repeat Yourself 
Si plusieurs classe ou éléments partagent des propriétés similaire, pour le même but,
avec les mêmes valeurs de propriétés, on les regroupes.
*/

/*
les éléments ayant la classe vignette ou la classe miniature
*/
.vignette, 
.miniature{
    width: 100px;
    height: 100px;
}

.vignette{
    object-fit: cover;
}

.miniature{
    object-fit: contain;
    background-color: black;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Déclarations css de structure */
body{
    margin: 0;
    background-color: var(--main-site-bg);
}

/*
les éléments header enfants directs de body
*/

body > header,
body > nav,
body > footer{
    padding: var(--gutter);
    background-color: var(--header-bg-color);
    color: var(--header-color);
}


body > header a,
body > nav a,
body > footer a{
    color: var(--header-link-color);
}

nav[role="navigation"] ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav[role="navigation"] ul li a{
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
    text-decoration: none;
}

nav[role="navigation"] ul li a:hover{
    color: var(--header-bg-color);
    background-color: var(--header-link-color);
}

main > header,
section article{
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

@media screen and (min-width: 1100px){
    .container{
        width: 1024px;
    }
}

@media screen and (min-width: 1400px){
    .container{
        width: 1320px;
    }
}